StoreWeb/StoreWeb/Store.Web/Store.Web/Connected Services/StoreWS/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Example">
        <s:complexType />
      </s:element>
      <s:element name="ExampleResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListaPedidos">
        <s:complexType />
      </s:element>
      <s:element name="ListaPedidosResponse">
        <s:complexType />
      </s:element>
      <s:element name="ImportarListaItens">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Itens" type="tns:ArrayOfCompras" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompras">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Compras" nillable="true" type="tns:Compras" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Compras">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProdutoId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportarListaItensResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExampleSoapIn">
    <wsdl:part name="parameters" element="tns:Example" />
  </wsdl:message>
  <wsdl:message name="ExampleSoapOut">
    <wsdl:part name="parameters" element="tns:ExampleResponse" />
  </wsdl:message>
  <wsdl:message name="ListaPedidosSoapIn">
    <wsdl:part name="parameters" element="tns:ListaPedidos" />
  </wsdl:message>
  <wsdl:message name="ListaPedidosSoapOut">
    <wsdl:part name="parameters" element="tns:ListaPedidosResponse" />
  </wsdl:message>
  <wsdl:message name="ImportarListaItensSoapIn">
    <wsdl:part name="parameters" element="tns:ImportarListaItens" />
  </wsdl:message>
  <wsdl:message name="ImportarListaItensSoapOut">
    <wsdl:part name="parameters" element="tns:ImportarListaItensResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Example">
      <wsdl:input message="tns:ExampleSoapIn" />
      <wsdl:output message="tns:ExampleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaPedidos">
      <wsdl:input message="tns:ListaPedidosSoapIn" />
      <wsdl:output message="tns:ListaPedidosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportarListaItens">
      <wsdl:input message="tns:ImportarListaItensSoapIn" />
      <wsdl:output message="tns:ImportarListaItensSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Example">
      <soap:operation soapAction="http://tempuri.org/Example" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPedidos">
      <soap:operation soapAction="http://tempuri.org/ListaPedidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarListaItens">
      <soap:operation soapAction="http://tempuri.org/ImportarListaItens" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Example">
      <soap12:operation soapAction="http://tempuri.org/Example" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPedidos">
      <soap12:operation soapAction="http://tempuri.org/ListaPedidos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportarListaItens">
      <soap12:operation soapAction="http://tempuri.org/ImportarListaItens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:53924/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:53924/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>